<% @page_title = "Add Review" %>

<h1>Add Review</h1>

<%= form_for :review, url: reviews_path do |form| %>

    <%= render(:partial => 'form', :locals => {:form => form}) %>

    <p>
        <%= form.submit("Add Review", {:class => 'btn btn-success btn-block'}) %>
    </p>
<% end %>