<div id="movie-sort">
    <span>Sort by:</span>
    <div class="btn-group btn-group-sm" role="group" aria-label="Sort Movie By">
        <button type="button" class="btn btn-primary active" id="sort-by-title">Title</button>
        <button type="button" class="btn btn-primary" id="sort-by-date">Release Date</button>
        <button type="button" class="btn btn-primary" id="sort-by-genre">Genre</button>
    </div>
</div>

<script>
    $(function() {
        $("button").click(function () {
            $("button").removeClass("active");
            $(this).toggleClass("active");
        });
    });
</script>