<div>
    <% if (movie.average_rating && movie.average_rating > 0) %>
        <span class="review-rating" data-score="<%= movie.average_rating %>"></span>
        <%= link_to(shortened_title(movie).to_s, movie_path(movie)) %>
        <hr>
    <% end %>
</div>

<script>
    $(function() {
        
        $(".review-rating").raty ({
            readOnly: true,
            score: function() {
                return $(this).attr("data-score");
            },
            path: "/assets/"
        });


    });
</script>