<div>
    <% if (movie.average_rating && movie.average_rating > 0) %>
        <%= render(:partial => 'reviews/rating', :locals => {:rating => movie.average_rating }) %>
        <%= link_to(shortened_title(movie).to_s, movie_path(movie)) %>
        <hr>
    <% end %>
</div>