<h1>Movie Database</h1>
<div>
    <ul id="navbar">
        <li>Home</li>
        <li>Movies</li>
        <li>Reivews</li>
        <li>About</li>
    </ul>
</div>

<div id="movie-sort">
    <p>Sort by:</p>
    <ul>
        <li>Title</li>
        <li>Release Date</li>
        <li>Genre</li>
    </ul>
</div>

<div id="recent-reviews">
    <p>Recent Reviews</p>
    <ul>
        <li>[Comment]</li>
        <li>[Rating]</li>
        <li>[Author]</li>
    </ul>
    <p>View All Reviews</p>
</div>

<div id="recent-movies">
    <p>Recent Movies</p>
    <ul>
        <li>[Title]</li>
        <li>[Rating]</li>
    </ul>
    <p>View All Movies</p>
</div>


<div>
    <ul id="movies">
    </ul>
</div>


