<%# <h1 id="main-section-title">Home</h1> %>

<%= render(:partial => 'movies/movie_sorter') %>

<div class="row">
    <div class="col-sm">

        <%= render(:partial => 'movies/movies') %>

    </div>

    <div class="col-sm-auto">
      

        <div id="recent-section">
            <ul class="list-group">
                <li class="list-group-item">
                    <div id="recent-reviews">
                        <p>Recent Reviews</p>
                        <ul>
                            <li>[Comment]</li>
                            <li>[Rating]</li>
                            <li>[Author]</li>
                        </ul>
                        <p>View All Reviews</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div id="recent-movies">
                        <p>Recent Movies</p>
                        <ul>
                            <li>[Title]</li>
                            <li>[Rating]</li>
                        </ul>
                        <p>View All Movies</p>
                    </div>
                </li>
            </ul>
        <div>

      
    </div>
  </div>




