// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-section-title {
    text-align: center;
}

#movie-sort {
    margin: 1em 0;
}

#recent-section {
    margin: 1em;
}

#recent-reviews {

}

#recent-movies {

}

#movies {
    margin: 1em;
}

.movie-card {
    margin: 1em 0;
}